<!doctype html>
<html ng-app="appTrainer">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8">
    <title>Mi primera App Angular</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   
</head>
<body>
    
    <div class="container">
                <div ng-controller="ListarColores">
                    <div class="{{ formulario }}">
                    <div class="col">   
                    <ul class="list-group">
                        <li class="list-group-item">
                            <form class="form-inline" ng-submit="registrar()">
                                <div class="form-group">
                                    <input type="color" class="form-control" ng-model="color"  required style="width: 300px; padding:0; height:38px">
                                </div>
                                <button type="submit" class="btn btn-success">Agregar</button>
                            </form>
                        </li>
                        <li class="list-group-item" ng-repeat="c in colores track by $index">
                            <button class="btn btn-danger dtn-xs pull-right" ng-click="retirar($intex)" type="button">Eliminar</button>
                            <div style="background: {{ c }}; padding: 20px">{{ c }}</div>

                        </li>
                    </ul> 
                    </div>
                    <div class="col">                   
                    <form class="form" ng-submit="ejecutar()">
                            
                                    <div class="form-group border" style="padding: 20px;">
                                        <p><label for="tiempo">Frecuencia de cambio:</label></p>
                                        <input type="range" class="form-control-range" id="tiempo" ng-model="tiempo" required >
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon2">{{ tiempo }} Segundos</span>
                                        </div>
                                    </div>
                                    <div class="form-group border" style="padding: 20px;">
                                        <p><label for="repeticion">Repeticiones:</label></p>
                                        <input type="range" id="repeticion" class="form-control-range" ng-model="repeticion" required>
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon2">{{ repeticion }}</span>
                                        </div>
                                    </div>
                                    <div class="form-check border" style="padding: 20px;">
                                      <input class="form-check-input" type="checkbox" ng-model="sonido" id="check-sonido" checked style="margin: 0; position: relative;">
                                      <label class="form-check-label" for="check-sonido">
                                        ¿Sonido?
                                      </label>
                                    </div>
                                    <button type="submit" class="btn btn-success w-100">Ejecutar</button>
                            
                    </form>
                    </div>
                    </div>
                    <div class="{{ resultado }}" style="background: {{ background }}; width: 100%; height: 500px; padding: 120px 20px;">
                        <h1 class="text-center">{{segundos}} Segundos</h1>
                        <audio id="sonido" src="sonido/pitido.mp3"></audio>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="js/controller.js"></script>
</body>
</html>